# Ignore Terraform build artifacts
Terraform/.terraform/
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup
Terraform/*.tfstate
Terraform/*.tfstate.*
Terraform/*.tfvars

# Optional: ignore lock file if you don’t want pinned providers
 Terraform/.terraform.lock.hcl
